
.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: auto;
    padding: 0;
    width: 120vh;
  }
  
  .homeTitle{
    color: rgb(5, 5, 5);
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
    text-align: center;
  }
  
  .homeTable {
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 80%;
  }
  
  .homeTh {
    background-color: #B78A60;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .homeTr {
    border-bottom: 1px solid #ccc;
  }
  
  .homeTd {
    padding: 10px;
  }
  
  .homeTr:hover {
    background-color: #f5f5f5;
  }

