/* Center all elements on the page */
.inviteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Style for the page heading */
  .inviteDiv h1 {
    font-size: 36px;
    text-align: center;
  }
  
  /* Style for the subheading */
  .inviteDiv h2 {
    font-size: 24px;
    text-align: center;
  }
  
  /* Style for the input field */
  .inviteDiv input[type="text"] {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 200px;
    text-align: center;
  }
  
  /* Style for the first table */
  .inviteDiv table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px 0;
  }
  
  .inviteDiv table, th, td {
    border: 1px solid black;
  }
  
  .inviteDiv th, td {
    padding: 10px;
    text-align: center;
  }
  
  /* Style for the second table */
  .inviteDiv table + table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px 0;
  }
  
  .inviteDiv table + table, th, td {
    border: 1px solid black;
  }
  
  .inviteDiv th + td, td + td {
    padding: 10px;
    text-align: center;
  }
  
  /* Style for the buttons */
  .inviteDiv button {
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    background-color: #ddba47 ;
    border-color: #ddba47;
  }