
body {
    background-color: #f2f2f2;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    width: 50%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/5f/e8/fd/5fe8fd81615704c563c8698774e23e59.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .form-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 52px;
    margin-top: 0;
    background-color: brown;
    padding: 20px;
    color: white;
  }
  
  .subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
  }
  .signin{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .signinInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .signinButton{
    width: 100%;
    padding: 10px;
    background-color: brown;
  }
  .signinButton:hover {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(119, 32, 32);
  }


/* Center the content of the page horizontally and vertically */
.registrationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the h1 and h2 headings */
.regTitle {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    background-color: brown;
    padding: 20px;
    color: white;
}

.regSubtitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* Style the input fields */
.regInput {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the table */
.regTable {
  width: 15%;
  border-collapse: collapse;
  margin-top: 20px;
}

.regTh, .regTd {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Style the Register button */
.regButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #af684c;
  color: white;
  cursor: pointer;
}

.regButton:hover {
  background-color: brown;
}
